html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}

body {
    min-height:100vh; 
    display: grid;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

h2, h4, p {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#top-section {
    background-color: white;
}

#top-section h2 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 20px;
}

#top-section h4 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 10px;
}

#top-section p {
    color: hsl(218, 22%, 67%);
}

#card {
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    overflow: hidden;
}

#top-section {
    width: 100%;
    height: 45%;
    padding: 25px;
}

#bottom-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-section {
    height: 100%;
    background-color: hsl(179, 62%, 43%);
    padding: 25px;
    flex-basis: 50%;
}

#bottom-right-section {
    height: 100%;
    background-color: hsl(179, 52%, 61%);
    padding: 25px;
    flex-basis: 50%;
}

button {
    padding: 10px;
    width: 100%;
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: none;
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.15);
    border-radius: 5px;
    font-size: 0.9rem;

}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}

#bottom-left-section h4 {
    margin-bottom: 23px;
}

#price-frequency {
    color: hsl(204, 43%, 93%);
    font-size: 0.8rem;
    margin-left: 5px;
}

#price-container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

#bottom-left-section p {
    font-size: 0.8rem;
    margin-bottom: 37px;
}

ul {
    padding: 0;
    list-style: none;
    color: hsl(204, 43%, 93%);
}

button:hover {
    cursor: pointer;
    background-color: #c9eb36;
    transform: scale(1.02);
}

@media (min-width: 567px) {
    #card {
        width: 550px;
        height: 400px;
    }
    
    #bottom-section {
        flex-direction: row;
    }
}